.about {
  font-family: 'Texturina', serif;
  width: 75%;
  margin: 0 auto;
  box-shadow: 3px 3px 8px 2px rgb(243, 204, 168);
  padding: 30px;
  color: #444444;
  overflow: hidden;
}

.back {
  position: relative;
  bottom: 50px;
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.back:hover {
  color: rgb(248, 144, 47);
}

.aboutTitle {
  text-align: center;
  padding-bottom: 20px;
  text-decoration: underline;
}

.course {
  font-weight: 800;
  text-decoration: underline;
}

.changePage {
  font-size: 2em;
  color: rgb(248, 144, 47);
}

.changePage:hover {
  color: rgb(243, 204, 168);
}
@media screen and (max-width: 359px) {
  .about {
    height: 400vh;
    width: 90%;
  }
}

@media (min-width: 360px) and (max-width: 399px) {
  .about {
    height: 380vh;
    width: 90%;

  }
}

@media (min-width: 400px) and (max-width: 419px) {
  .about {
    height: 300vh;
    width: 90%;
  }
}

@media (min-width: 420px) and (max-width: 459px) {
  .about {
    height: 300vh;
    width: 90%;
  }
}

@media (min-width: 460px) and (max-width: 499px) {
  .about {
    height: 280vh;
    width: 90%;
  }
}

@media (min-width: 500px) and (max-width: 649px) {
  .about {
    height: 280vh;
  }
}

@media (min-width: 650px) and (max-width: 814px) {
  .about {
    height: 250vh;
  }
}

@media (min-width: 815px) and (max-width: 929px) {
  .about {
    height: 230vh;
  }
}

@media (min-width: 930px) and (max-width: 1200px) {
  .about {
    height: 230vh;
  }
}
