.about {
  font-family: 'Texturina', serif;
  width: 75%;
  height: 220vh;
  margin: 0 auto;
  box-shadow: 0px 10px 12px 10px rgb(243, 204, 168);
  padding: 30px;
  color: #444444;
}

.back {
  position: relative;
  bottom: 50px;
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.back:hover {
  color: rgb(248, 144, 47);
}

.aboutTitle {
  text-align: center;
  padding-bottom: 20px;
  text-decoration: underline;
}

.course {
  font-weight: 800;
  text-decoration: underline;
}

.changePage {
  font-size: 2em;
  color: rgb(248, 144, 47);
}

.changePage:hover {
  color: rgb(243, 204, 168);
}

@media (min-width: 300px) and (max-width: 595px) {
  .about {
    height: 300vh;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .about {
    height: 260vh;
  }
}

@media (min-width: 905px) and (max-width: 1200px) {
  .about {
    height: 240vh;
  }
}
