.mainDiv {
  width: 100%;
  margin: 0 auto;
  height: 80vh;
}

.me {
  position: absolute;
  max-width: 12%;
  left: 19%;
  top: 7%;
  border-radius: 50%;
  border: 1px solid rgb(243, 204, 168);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: black;
}

.title a,
.title span {
  color: rgb(243, 204, 168);
  text-shadow: 4px 3px 0px #7a7a7a;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  color: #444444;
}

@media screen and (max-width: 590px) {
  .me {
    top: 3%;
  }

  .mainDiv {
    height: 20vh;
  }
}

@media screen and (max-width: 900px) {
  .mainDiv {
    height: 50vh;
  }
}
